html, body {
    margin: 0;
    background-color: #f3f3f3;
}

:root {
    --body-bg: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-bg: #27434b;
    }

}

@media screen and ( min-width: 600px ) {
    .nav-parent {
        display: flex;
        width: 100%;
        height: 40px;
        box-shadow: 0 0 2px 0 #000000;
    }

    .top-nav {
        position: relative;
        margin: 0;
        width: 100%;
        z-index: 9;
        border: 5px #3a3a3a;
        background-color: #ffffff;
    }

    .logo {
        padding: 5px;
        width: 200px;

    }

    .logo:hover {
        text-decoration: underline;
        cursor: pointer;
        color: #dadada;
    }

    .logo a {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        text-decoration: none;
        color: #484848;
    }

    .h-login-button {
        position: absolute;
        top: 5px;
        right: 5px;
        border: 5px #ff0000;
    }

    .h-login-button button {
        width: 70px;
        height: 30px;
        background: none;
        border: none;
    }

    .h-login-button button:hover {
        opacity: 70%;
        cursor: pointer;
    }

    .acc-menu {
        display: none;
        position: absolute;
        margin-top: 15px;
        padding: 3px;
        right: 5px;
        background-color: #ffffff;
        box-shadow: 0 0 2px 0 #000000;
    }

    .acc-menu label {
        padding: 5px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .acc-menu button {
        width: 120px;
        padding: 40px;
        background-color: #f3f3f3;
        border: none;
    }

    .acc-menu button:hover {
        background-color: #dadada;
    }

    .sidenav {
        position: absolute;
        padding: 25px 5px 5px 5px;
        width: 200px;
        height: 95%;
        background-color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        box-shadow: 0 0 2px 0;
    }

    .sidenav h2 {
        font-size: 25px;
    }

    .sidenav a {
        position: absolute;
        width: 100%;
        font-weight: bold;
        text-align: center;
    }

    .sidenav button {
        position: relative;
        width: 100%;
        padding: 7px;
        background: none;
        border: none;
    }

    .sidenav button:hover {
        background-color: #dadada;
        cursor: pointer;
    }

    .l-card-container {
        position: absolute;
    }

    .l-card-container a {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .l-card-container input {
        
    }
}
