html, body {
    margin: 0;
    height: 100%;
    background-color: #ffffff;
    color: #3a3a3a;
}

.dark-mode {
    background-color: #29353b;
    color: white;

}

@media screen and ( min-width: 600px ) {

    .content-container {
        margin: 45px 0 0 250px;
        padding:15px;
        overflow:auto;
        background: inherit;
        white-space: nowrap;
    }

    .main {
        margin: auto;
        max-width: 1000px;
        min-width: 250px;
        background: inherit;
    }


    .nav-parent {
        display: flex;
        width: 100%;
        height: 40px;
        background: inherit;
    }

    .top-nav {
        position: relative;
        margin: 0;
        width: 100%;
        height: 50px;
        z-index: 9;
        border: 5px #3a3a3a;
        background: inherit;
        box-shadow: 0 0 2px 0 #000000;
    }

    .logo {
        position: relative;
        padding: 10px;
        width: 200px;

    }

    .logo:hover {
        text-decoration: underline;
        cursor: pointer;
        color: #dadada;
    }

    .logo a {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        text-decoration: none;
        color: inherit;
    }

    .h-login-button {
        position:absolute;
        top: 12px;
        right: 5px;
        color: inherit;
    }

    .h-login-button button {
        width: 80px;
        height: 30px;
        background: none;
        border: none;
        color: inherit;
    }

    .h-login-button button:hover {
        opacity: 70%;
        cursor: pointer;
    }

    .acc-menu {
        position: absolute;
        margin-top: 10px;
        padding: 3px;
        right: 2px;
        text-align: left;
        background-color: inherit;
        box-shadow: 0 0 2px 0 #000000;
    }

    .acc-menu button {
        width: 250px;
        height: 50px;
        padding: 10px;
        border: none;
        font-size: 15px;
    }

    .logout button:hover {
        background-color: #ff6d6d;
    }

    .acc-menu button:hover {
        background-color: #dadada;
    }

    .sidenav {
        position: fixed;
        padding: 5px 0 5px 5px;
        bottom: 0;
        width: 250px;
        height: 100%;
        background-color: inherit;
        font-family: Arial, Helvetica, sans-serif;
        box-shadow: 0 0 2px 0;
    }

    .sidenav h2 {
        font-size: 25px;
    }

    .sidenav a {
        position: absolute;
        width: 100%;
        font-weight: bold;
        text-align: center;
        color: #3254ab;
    }

    .sidenav button {
        position: relative;
        width: 100%;
        text-align: left;
        padding: 10px;
        background: none;
        border: none;
        font-size: 14px;
        border-radius: 25px 0 0 25px;
        color: #3254ab;
    }

    .sidenav button:hover {
        background-color: #acdbea;
        cursor: pointer;
    }

    .sidenav-head  h2 {
        margin-top: 65px;
    }

    .bottom-nav {
        position: absolute;
        width: 100%;
        bottom: 5px;
        left: 5px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .bottom-nav button {
        display: inline-block;
        width: 45px;
        border-radius: 25px;
    }

    .issue-tab {
        display: inline-block;
        position: absolute;
        bottom: 50px;
        width: 270px;
        padding: 3px;
        background-color: inherit;
        box-shadow: 0 0 2px 0 #000000;
    }

    .issue-tab label {
        padding: 5px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .issue-tab button {
        width: 120px;
        padding: 40px;
        background-color: #f3f3f3;
        border: none;
    }

    .issue-tab a {
        position: relative;
    }

    .issue-tab button:hover {
        background-color: #dadada;
    }


    .material-symbols-outlined:hover {
        cursor:pointer;
    }

    .dropdown-container {
        display: none;
        padding-left: 35px;
    }

}

@media screen and (min-width: 500px) {
    .l-card-container {
        margin: auto;
        padding: 10px;
        transform: translate(0, 50%);
        max-width: 500px;
        width: 90%;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 0 3px 0 #000000;
    }

    .l-card-container a {
        font-family: Arial, Helvetica, sans-serif;
    }

    .l-card-container label {
        font-family: Arial, Helvetica, sans-serif;
    }

    .l-card-container input {
        margin: 5px 0 0 20px;
        font-size: 17px;
        padding: 7px;
        background-color: #dcdcdc;
        border: none;
        border-radius: 7px;
        width: 90%;

    }

    .l-card-container button {
        margin: 10px 0 0 55%;
        padding: 7px;
        width: 40%;
        background: #b5e8ee;
        border: none;
        border-radius: 5px;
    }

    .l-card-container button:hover {
        background-color: #8ff0fa;
        cursor: pointer;
    }

}

@media screen and (max-width: 500px) {

    .l-card-container {
        width: 100%;
        height: 100%;
    }
}


.b-card-container {
    position: relative;
    margin: auto;
    transform: translate(0, 50%);
    max-width: 600px;
}

.b-card-container a {
    width: 1000px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(78, 76, 76);
    background-color: inherit;
    border-radius: 5px;
    text-decoration: none;

}

.b-card-container a:hover {
    background-color: #dadada;
    text-decoration: underline;
}