.box {
    border: solid #ce9393 3px;
    border-radius: 5px 5px;
    padding: 5px;
}

body {
    @import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
    font-family: "Zilla Slab", Arial, Helvetica, sans-serif;
    background-color: #dadada;
}