@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

/* Regular setting */
:root {
    --body-bg: #dadada;
    --table-bg: white;
    --body-color: #000000;
 }
 
 /* Dark setting */
 @media (prefers-color-scheme: dark) {
    :root {
        --table-bg: #27434b;
        --body-bg: #233035;
        --body-color: #FFFFFF;
    }
 }

.box {
    border: solid #70b8d4 3px; border-radius: 5px;
    padding: 5px;
    width: 100%;
}
body {
    font-family: "Zilla Slab", Arial, Helvetica, sans-serif; color: #545d5eda;
    background: var(--body-bg);
    color: var(--body-color);
 
}
table {
    margin: 0 auto;
    max-width: 600px;
    background: white;
    border-radius: 7px;
    box-shadow: 5px 5px rgb(82, 99, 102);
    padding: 7px;     
    background: var(--table-bg);
}

.text {
    min-width: 77px;
}
.reg {
    width: 100%; height: 40px;
    font-family: "Zilla Slab"; font-size: 15px; color: white;
    background: #70b8d4;
    border: solid  #70b8d4; border-radius: 5px;
    
}
input:hover {
    border: solid #5da2da; border-radius: 5px;
    background: #5da2da;
}